qr_menu_orders.json

# Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environments
env/
venv/
.venv

# Media files
*.mp3

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local


